.Title{
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
  font-size: 90px;
}
.startGameTextContainer{
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
}
.imagesContainer{
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
  width: 80%;
}
.imagesContainer img{
  max-width: 30%;
  border: 3px solid white;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 15px;
}

.imagesContainer img:nth-child(1){
  position: relative;
  transform: rotate(-10deg);
  z-index: 3;
}
.imagesContainer img:nth-child(2){
  position: relative;
  transform: rotate(15deg);
  z-index: 2;
}
.imagesContainer img:nth-child(3){
  position: relative;
  transform: rotate(-20deg);
  z-index: 1;
}

@media only screen and (max-width:767px) {
  .Title{
    padding-top: 10%;
    font-size: 10vw;
  }
  .startGameTextContainer{
    font-size: 5vw;
  }
  .imagesContainer{
    margin: 0 auto;
    padding-top: 20%;
    text-align: center;
    width: 80%;
  }
  .imagesContainer img{
    margin: 0 auto;
    display: block;
    max-width: 70%;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 15px;
  }
  
}